@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #030303;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffff
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    color: #77abe7;
    margin-left: 1rem;
}

.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a{
    font-size: 22px;
    padding: 20px;
    color: #ffff;
    display: block;
}

.navbar ul li a:hover{
    color: #77abe7;
}

#menu{
    display: none;
}

.menu-icon{
    width: 25px;
    margin-left: 2rem;
}

.menu-container label{
    cursor: pointer;
    display: none;
}

.header-content-container{
    display: flex;
    width: 100%;
}

.header-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.header-1 img{
    width: 300px;
}

.header-2{
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.header-2 h1{
    color: #ffffff72;
    font-size: 80px;
    line-height: 80px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -14%;
    margin-left: 12px;
  }
  
  input[type="text"],
  input[type="number"] {
    width:38rem ;
    height: 25px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(44, 53, 72);
  }
  
  button[type="submit"] {
    width: 13%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(96, 40, 139);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(120, 70, 159);
  }